<p>nuevo-producto works!</p>

<div class="container-mt-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <input 
                        type="text" 
                        placeholder="Ingresa el nombre" 
                        class="form-control" 
                        id="nombre"
                        name="nombre"
                        [(ngModel)] = "nombre" required>
                    <input 
                        type="text" 
                        placeholder="Ingresa el precio" 
                        class="form-control" 
                        id="precio"
                        name="precio"
                        [(ngModel)] = "precio" required>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
            </form>
        </div>
    </div>
</div>

